body{
    font-family: 'arial';
    font-size: small;
    
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: darkslateblue;
}

th {
  text-align: left;
}

td {
 padding-right: 15px;
}